# =============================================================
# ASVOSONK — .gitignore
# =============================================================

# Variables sensibles — NE JAMAIS committer
.env

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Logs applicatifs
logs/
*.log

# Sauvegardes
backup/

# OS
.DS_Store
Thumbs.db
